<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dt-flightdata-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/66ee628d-f501-4d4e-8aa7-917db794c915/resourcegroups/dt-globalbootcamp-rg/providers/Microsoft.Web/sites/dt-flightdata-fn</ResourceId>
    <UserName>$dt-flightdata-fn</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dt-flightdata-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>